ul {
    list-style-type: none;
    padding: 10px;
    background-color: #333333;
    /* justify-content: flex-start;
    flex-wrap: wrap */
  }

  a:hover{
      color:red;
  }

  li{
      display:inline;
      padding: 50px;
  }
  /* .element{
    justify-content: flex-start;
    flex-wrap: wrap;
  } */

  .image{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }